In [1]:
num_1 = 5
num_2 = 3
sum = num_1 + num_2
print(sum)

8

In [55]:
number_1 = 10
number_2 = 7
multiply = number_1 * number_2
print(multiply)

70

In [56]:
10 % 3

1

In [57]:
27//6

4

print("it's fun to learn python!")

In [58]:
print("ha"*3)

hahaha

In [59]:
full_name = "Anna Andersson"
first_name = full_name[0: 4]
print(first_name)

Anna

In [60]:
full_name = "Anna Andersson"
x = len(full_name)
print(x)

14

In [61]:
founder = "Guido"
language = "Python"
print(f"Hello {founder}, {language} is really fun to learn!")

Hello Guido, Python is really fun to learn!

In [62]:
my_first_tuple = (10, 5, 1, 3)
#cant change value in tuple
print(my_first_tuple)

(10, 5, 1, 3)

In [63]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1][2])

languages
apples
C

In [64]:
type(my_tuple)

tuple

In [65]:
my_first_list =[10, 5, 'hi', 3]
type(my_first_list)

list

In [66]:
my_first_list[1] = 7
print(my_first_list)

[10, 7, 'hi', 3]

In [67]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']
len(shopping_list)

5

In [33]:
shopping_list.append('bread')
print(shopping_list)

['apple', 'banana', 'grapes', 'eggs', 'milk', 'bread']

In [1]:
num_1 = 5
num_2 = 3
sum = num_1 + num_2
print(sum)

8

In [35]:
my_numbers = [1, 7, 2, 7, 10, 7]
my_numbers.count(7)

3

In [38]:
 one_tuple = (10, 5, 3)
one_list = list(one_tuple)
print(one_list)

[10, 5, 3]

In [39]:
my_first_dict = {'Anna': 38, 'Goran': 19, 'Lennart': 59, 'Halimah': 28}
my_first_dict['Goran']

19

In [40]:
type(my_first_dict)

dict

In [43]:
my_set = {10, 5, 2, 5, 5}
print(my_set)

{10, 2, 5}

In [46]:
type(my_set)

set

In [47]:
A = {1, 2, 3, 4, 5}
B = {5, 6, 7, 8}
C = A.intersection(B)
print(C)

{5}

In [48]:
D = A.union(B)
print(D)

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
E = A.difference(B)
print(E)

{1, 2, 3, 4}

In [52]:
list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 10, 21]
my_set = set(list_a)
my_set_2 = set(list_b)
my_set.intersection(my_set_2)

{5}

In [53]:
my_set.union(my_set_2)

{1, 2, 3, 4, 5, 6, 10, 21}

In [54]:
duplicate_values = (10, 2, 2, 10, 1)
my_3_set = set(duplicate_values)
print(my_3_set)

{1, 10, 2}